.moveable-control {
  background: var(--able-color) !important;
}

.moveable-line {
  background: var(--able-color) !important;
}

.target {
  position: absolute;
  width: 250px;
  height: 100px;
  /* top: 150px; */
  line-height: 100px;
  text-align: center;
  color: #333;
  font-weight: bold;
  border: 1px solid #333;
  box-sizing: border-box;
}

.edge-line {
  box-shadow: rgba(0, 0, 0, 0.35) 0 0 15px;
  background: yellow;
}

.moveable-edge-clickable {
  cursor: default;
}
