.measurements-setup {
  list-style: none;
  padding: 0;
  margin: 0;
}

.measurements-setup > li {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5px;
}

.measurements-setup input[type="color"] {
  height: 41px;
}

.measurements-setup button {
  background-color: var(--background-body);
}

.measurements-setup button:hover {
  background-color: var(--background-alt);
}

.add-container {
  justify-content: flex-end !important;
}
