.overview-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}
.table-pagination {
  border-top: 1px solid var(--border);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  background-color: var(--background-body);
}

.overview-table-container {
  flex: 1;
  overflow-y: auto;
}
