#app-container {
  display: flex;
  height: 100vh;
}

.app-sidebar {
  padding: 8px;
  justify-content: space-between;
}
.app-sidebar,
.app-sidebar > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.app-sidebar button {
  background-color: var(--background-alt);
}

.app-sidebar button:hover {
  background-color: var(--background-body);
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 12px;
  background-color: var(--background-body);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
