.red .moveable-control {
    background: red !important;
}

.red .moveable-line {
    background: red !important;
}

.blue .moveable-control {
    background: blue !important;
}

.blue .moveable-line {
    background: blue !important;
}

.target {
    position: absolute;
    width: 250px;
    height: 100px;
    /* top: 150px; */
    line-height: 100px;
    text-align: center;
    color: #333;
    font-weight: bold;
    border: 1px solid #333;
    box-sizing: border-box;
  }

.edge-line {
    background: yellow;
}

.measure-row {
    background-color: var(--measure-row-background) !important;
}